div.container {
  width: 100%;
  //   background-color: rgb(235, 235, 235);
  color: #fff;

  div.logout_button {
    display: flex;
    margin: 50px 0;
    button {
      margin: 0 auto;
    }
  }
}
