div.container {
  margin: auto;
  height: 100vh;
  display: flex;

  div.left {
    width: 40vw;
    margin: auto;
    > div {
      margin: 0 auto;
      width: 30%;
      img {
        width: 100%;
      }
    }
  }
  div.middle {
    width: 2px;
    background-color: #000000;
    margin: 35vh 0;
  }

  div.right {
    width: 60vw;
    margin: auto;

    div.wrapper {
      width: 60%;
      margin: 0 auto;
      div.name {
        display: flex;
        justify-content: space-between;
        // width: 60%;
        // margin: 0 auto;
        input {
          width: 100%;
        }
      }

      div.email {
        display: flex;
        input {
          // width: 60%;
          width: 100%;
        }
      }

      div.passwrd {
        display: flex;
        justify-content: space-between;
        // width: 60%;
        // margin: 0 auto;

        input {
          width: 100%;
        }
      }

      div.button {
        button {
          margin: 1rem auto 0 auto;
        }
      }

      div.change_to_login {
        margin-top: 2vh;
        font-size: small;
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}
