:root {
  --height-block: 50vh;
  --width-block: 50vw;
}

div.container {
  div.rigth_button_container {
    margin: 1vh 0;
  }

  div.container_auth {
    background-color: #000;
    width: 100vw;
    height: 100vh;
    position: absolute;
    opacity: 0.7;
    z-index: 1;
    overflow-x: hidden;
    top: 0;
    left: 0;
  }
  div.block {
    position: absolute;
    opacity: 1;
    z-index: 2;
    background-color: rgb(255, 255, 255);
    height: 50vh;
    top: 25vh;

    div.top {
      width: 100%;
      height: 10%;
      background-color: rgb(220, 220, 220);
      display: flex;
      font-size: x-large;

      div.left {
        flex: 1;
        cursor: pointer;
        color: #000;
        padding-top: 1%;
        width: 50%;
      }
      div.left:hover {
        background-color: #00000047;
      }

      div.right {
        flex: 1;
        cursor: pointer;
        color: #000;
        padding-top: 1%;
        width: 50%;
      }
      div.right:hover {
        background-color: #00000047;
      }
    }

    div.bottom {
      width: 100%;
      height: 90%;
      overflow: hidden;
    }
  }

  @media (max-width: 767px) {
    div.block {
      margin: auto;
      width: 100vw;
      left: 0;
    }
  }

  @media (min-width: 768px) {
    div.block {
      margin: auto;
      max-width: 768px;
      width: 100%;
      left: calc((100vw - 768px) / 2);
    }
  }

  @media (min-width: 992px) {
    div.block {
      margin: auto;
      max-width: 992px;
      width: 100%;
      left: calc((100vw - 992px) / 2);
    }
  }

  @media (min-width: 1280px) {
    div.block {
      margin: auto;
      max-width: 1280px;
      width: 100%;
      left: calc((100vw - 1280px) / 2);
    }
  }
}
