div.container {
  margin: auto;
  height: 100vh;
  display: flex;

  div.left {
    // background-color: aquamarine;
    width: 60%;
    margin: auto;
    // flex: 3;
    div.mail {
      input {
        // flex: 1;
        width: 100%;
      }
    }

    div.password {
      input {
        // flex: 1;
        width: 100%;
      }
    }

    div.submit {
      button {
        margin: 1rem auto 0 auto;
        // width: 45%;
      }
    }

    div.change_to_signin {
      margin-top: 2vh;
      font-size: small;
      cursor: pointer;
      text-decoration: underline;
    }
  }

  div.middle {
    width: 2px;
    background-color: black;
    // height: 100%;
    margin: 35vh 0;
  }

  div.right {
    // flex: 2;
    width: 40%;
    // background-color: brown;
    margin: auto;

    img {
      width: 30%;
    }
  }
}
