div.container {
  padding-top: 0;
  padding-bottom: 10vh;
  // background-color: darkgoldenrod;
  background-color: #fff;
  text-align: center;

  div.close {
    svg {
      margin-left: 80%;
    }
  }

  div.container_item {
    width: calc(3 * 7vw + 6 * 1vw);
    margin: 0 auto;
    background-color: #0c2e74;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    div {
      width: 7vw;
      height: 10vh;
      // background-color: #c09d2b;
      background-color: #fff;
      margin: 1vh;
      transition: 0.2s;

      img {
        object-fit: cover;
        cursor: pointer;
        width: 100%;
        height: 100%;
      }
    }

    div:hover {
      transform: scale(1.1);
    }
  }
}

@media (max-width: 767px) {
  div.container {
    margin: auto;
    width: 100vw;
    left: 0;
  }
}

@media (min-width: 768px) {
  div.container {
    margin: auto;
    max-width: 768px;
    width: 100%;
  }
}

@media (min-width: 992px) {
  div.container {
    margin: auto;
    max-width: 992px;
    width: 100%;
  }
}

@media (min-width: 1280px) {
  div.container {
    margin: auto;
    max-width: 1280px;
    width: 100%;
  }
}
