div.container {
  width: 50%;
  height: 70vh;
  margin: 10vh auto;
  background-color: #f5f5f5;
  border-radius: 0.375rem;
  padding: 5vh 3vw;
  box-shadow: 10px 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);


  div.product_name{
    margin-bottom: 5vh;
  }

  div.product_price {
    margin-bottom: 5vh;
  }
}