div.container {
  div.container_board {
    background-color: rgb(79, 79, 79);
    display: flex;
    height: 93vh;

    div.container_left_board {
      width: 15%;
    }

    div.container_main_board {
      width: 85%;
      background-color: #fff;
      border-radius: 50px 0 0 0;
    }
  }
}
